@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}



.bg-primary {
  background: linear-gradient(135deg, #0096ff 0%, #004bb8 45%, #001f66 100%);
}
.bg-secondary {
  background: linear-gradient(125deg, #002e82 0%, #001c47 45%, #000e25 100%);
}



.mobile-nav {
  @apply fixed top-16 left-0 bg-gray-800 w-full h-1/3
}

.mobile-nav li {
  @apply text-center w-full h-full border-b-2 mt-3
}

.project-description {
  @apply absolute left-0 right-0 bottom-0 top-0 bg-primary hover:opacity-100 opacity-0 duration-500
}

.btn {
  @apply hover:border-2 border-primary px-3 py-2 text-sm         /* mobile size */
         md:px-6 md:py-3 md:text-base /* desktop size */ my-2 font-bold bg-primary border-white rounded
}

html {
  scroll-behavior: smooth;
}